body{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    background-size: cover;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
section .scrolll{
    width: 100%;
    display: flex;
}
section .scrolll div{
    color: #000;
    font-size: 2em;
    background: #fff;
    white-space: nowrap;
    font-weight: 600;
    text-transform: uppercase;
    animation: animate 20s linear infinite;
}
section .scrolll div:nth-child(2){
    animation: animate2 20s linear infinite;
}
section .scrolll div span{
    -webkit-text-stroke: 2px #000;
    color: transparent;
}

@keyframes animate{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animate2{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-200%);
    }
}
section .scrolll.text1{
    transform:  rotate(30deg) translateY(200px) translateX(-200px);
    box-shadow: 0 5px  15px rgba(0, 0,0,.5);
}
section .scrolll.text2{
    transform:  rotate(-25deg) translateY(120px) translateX(-200px);
    box-shadow: 0 5px  15px rgba(0, 0,0,.5);
}
section .scrolll.text3{
    transform:  rotate(25deg) translateY(300px) translateX(-200px);
    box-shadow: 0 5px  15px rgba(0, 0,0,.5);
}
section .scrolll.text4{
    transform:  rotate(260deg) translateY(200px) translateX(-200px);
    box-shadow: 0 5px  15px rgba(0, 0,0,.5);
}
section .scrolll.text5{
    transform:  rotate(5deg) translateY(-50px) translateX(-200px);
    box-shadow: 0 5px  15px rgba(0, 0,0,.5);
}

#contenedor_carga{
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease ;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    z-index: 10000;
}
#carga{
    position: absolute;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
    margin: auto;
}
#carga img{
    height: 50%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
    margin: auto;
}