.texto{
    color: #FFE81F;
    text-align: justify;
}
#titulo{
    color: #FFE81F;
    text-align: center;
    
}
#pagina{
    width: 100%;
    cursor:pointer;
}
#form1{
    color: #FFE81F;
}
.enlaces {
    text-decoration:none;
font-weight:500;
font-size: 18px;
color: #FFE81F;
padding-top:4px;
padding-bottom:5px;
padding-left:20px;
padding-right:20px;
background-color: transparent;

display: inline-block;
margin-bottom: 10px;
margin-left: 5px;
position: relative;
       
  }
  
.enlaces:before,:after{
    content: "";
    display: block;
    background: #FFE81F;
    position: absolute;
    left: 50%;
    height: 3px;
    width: 0%;
    bottom: 0;
    transition: all .3s;

      }
.enlaces:hover:before{
        width: 100%;
        left: 0%;
        color: #FFE81F;
      }
      
  #imagenT{
    width: 100px; height: 50px;
    display:block;
    margin:auto;
  }

  #pagina-principal{
    color: #FFE81F;
}
.carrusel-texto{
    text-align: center;
    color: #FFE81F;
}
#img1{
    width: 1000px; height: 400px;
    display:block;
margin:auto;
}
#img2{
    width: 1000px; height: 400px;
    display:block;
margin:auto;
}
#img3{
    width: 1000px; height: 400px;
    display:block;
margin:auto;
}
#contenedor_carga{
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease ;
    
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    z-index: 10000;
}
#carga{
    
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
    margin: auto;
  
}
#carga img{
    height: 50%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
    margin: auto;
}
