* {
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}
.contenedor{
    padding: 0px;
    margin: auto;
    width: 600px;
    height: 500px;
    background-image: image("img/Starwars.png");
    border: 10px dashed white;
}
#player{
    background-color: #900;
    border: 4px dashed white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    transition: all 0.3s;
}
.pointer{
    padding: 0px;
    margin: auto;
    width: 600px;
    height: 500px;
    margin-top: 30px;
    height: 30px;
    border: 10px dashed white;
    border-bottom: 0px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}